.ant-layout-sider {
  inset: 0px;
}
.ant-layout-sider-trigger {
  background-color: transparent !important;
  color: #1d1b23 !important;
}
.ant-menu-item-selected {
  color: #f9f9fc !important;
  background-color: #1d1b23 !important;
}
.ant-menu-item:active {
  color: #1d1b23 !important;
  background-color: #f9f9fc !important;
}
