@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(244, 245, 247);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.hover-effect {
  transition: all 0.3s ease;
}
.hover-effect:hover {
  border-radius: 50px;
  transform: translateX(-0.25rem);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.tab {
  background-color: rgb(255, 255, 255);
  color: rgb(23, 43, 77);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 2px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  background-image: none;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  overflow: hidden;
  padding: 16px;
}
.tab:last-child {
  padding-bottom: 24px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 24px;
}
.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10%;
  margin: 1% 2% 2% 2%;
}
aside {
  width: 280px !important;
}
.buttonCustom {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.75;
  min-width: 64px;
  color: rgb(255, 255, 255);
  background-color: rgb(18, 72, 116);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px,
    rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  text-transform: none;
  outline: 0px;
  border-width: 0px;
  border-style: initial;
  border-color: initial;
  border-image: initial;
  margin: 0px 16px 0px 0px;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.ant-picker-cell-selected .ant-picker-calendar-date {
  background-color: #fbf5dd !important;
}
.ant-picker-date-panel thead th {
  font-weight: 500 !important;
}
